<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Take a break every hour spent on shopping! Being tired makes us vulnerable to marketing tactics.</string>
	<key>2</key>
	<string>Take a break every hour spent on shopping! Being tired makes us vulnerable to marketing tactics.</string>
	<key>3</key>
	<string>Saving Happiness! Spend lesser time when you are on the Shopping Trip to save more money!</string>
	<key>4</key>
	<string>Reflect actual expenses! Check off Shopping Trip items and enter the items actual prices on the go!</string>
	<key>5</key>
	<string>Review your expenses! View items bought in this weeks’ shopping trip in ‘Purchases’ !</string>
	<key>6</key>
	<string>Review your expenses! This week’s purchases will be transferred to &apos;History&apos; at the end of the week!</string>
	<key>7</key>
	<string>Renew your old stuff! Do some DIY art &amp; recycle both your stuff and your happiness!:)</string>
	<key>8</key>
	<string>Partition Happiness! Indulge in happiness by splitting a large pleasure into many small pleasures!</string>
	<key>9</key>
	<string>Achieve big goals by separating them into smaller goals! Smaller goals are easier to achieve!</string>
	<key>10</key>
	<string>Memories &gt;Goods! Instead of a DSLR,why not go for a trip? Memories are unique &amp; give us happiness!:)</string>
	<key>11</key>
	<string>Joy of Giving! Gain happiness from saving for gifts! Sharing is caring :)</string>
	<key>12</key>
	<string>Pay in Cash - instead of using credit and debit cards! It makes you more conscious of your finances!</string>
	<key>13</key>
	<string>Shop with Non-Impulsive Friends Reduce impulse buys by shopping with friends who will stop them!</string>
	<key>14</key>
	<string>Make Saving a Habit! Accomplishing ‘Goals’ repeatedly can make good saving habits!</string>
	<key>15</key>
	<string>Brain Games? Memory games help to improve your self-control, and may help in reducing impulse buys!</string>
	<key>16</key>
	<string>Always Shopping at same places? Shopping in different places help to break unwise spending habits!</string>
	<key>17</key>
	<string>Wandering Eyes- Our eyes are easily captured by displays with bright lightings! And our money too!</string>
	<key>18</key>
	<string>Wandering Eyes- Bright colours catches our eyes; and tries to catch our money!</string>
	<key>19</key>
	<string>Wandering Eyes- Interesting displays like mannequins catches our eyes &amp; tries to catch our money.</string>
	<key>20</key>
	<string>Touch me more!  Items with displays that let you touch or test them make you more likely to buy them.</string>
	<key>21</key>
	<string>Not-So-Free Smells Pleasant smells are used to create a positive perception of the product! </string>
	<key>22</key>
	<string>A moment on the ears, a hole in the wallet Retailers use slow music to make us linger longer.</string>
	<key>23</key>
	<string>tudies show fast music in stores can disrupt your thought process, influencing impulsive decisions.</string>
	<key>24</key>
	<string>Always remember to evaluate the neccessity of your items before purchase!</string>
	<key>25</key>
	<string>If the item isn&apos;t needed urgently, why not wait for it to be on sale?</string>
	<key>26</key>
	<string>Question the salesperson before believing them and buying the item!</string>
	<key>27</key>
	<string>Reject the salesperson before they can start persuading you to buy items you don’t need.</string>
	<key>28</key>
	<string>A friendly tap or handshake from a salesperson can get you to &quot;like&quot; them more and buy their item.</string>
	<key>29</key>
	<string>&quot;Do you prefer the red or blue shirt?&quot; – The question may lead you to buy items you don’t need!</string>
	<key>30</key>
	<string>When buying items in bulk, always ask yourself, &quot;Do I really need so much?&apos;</string>
	<key>31</key>
	<string>Limited Edition or Only 1 left!- Items that are &quot;high in demand&quot; are usually bought impulsively.</string>
	<key>32</key>
	<string>Likability Principle A compliment to you can become a compliment to the salesperson&apos;s wallet.</string>
</dict>
</plist>
