<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Allow App To Publish Onto:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Facebook</string>
			<key>Key</key>
			<string>FacebookSwitch</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Twitter</string>
			<key>Key</key>
			<string>TwitterSwitch</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Share Data</string>
			<key>Key</key>
			<string>ShareSwitch</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>This Mobile Application is part of the Humanities &amp; Social Sciences School Deliverables to the Tote Board Project.
  Creators of this App:   Dr. Tan Wah Pheow, Abigail Seng, Kweh Yu Ting, Edwin Moses Low, Paul Michael C.Pangilinan, Abdul Rahman
  Credits:   Thanks to the designers who helped made this possible: The League of Movable Type Glyphicons</string>
			<key>Title</key>
			<string></string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
